@{
    ViewBag.Title = "Home Page";
}



<div class="row mt-5">
    <div class="col-10 card mx-auto">
        <div class="card-body">
            @using (Html.BeginForm("Create", "Home", FormMethod.Post))
            {
            <form>
                <div class="row d-block">
                    <div class="row form-group my-3">
                        <div class="col-8">Campsite Name </div>
                        <div class="col-4">
                            <input type="text" name="CampsiteName" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-8">Location</div>
                        <div class="col-4">
                            <input type="text" name="Location" value="" />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-8">Tent Type</div>
                        <div class="col-4">
                            <div class="dropdown">
                                <button class="form-control btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="selectedTent">
                                        Choose Tent Type
                                    </span>
                                </button>
                                <div class="dropdown-menu" id="tentTypeMenu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Tree Tent Only</a>
                                    <a class="dropdown-item" href="#">Ground Tent Only</a>
                                    <a class="dropdown-item" href="#">Either</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-8">Vehicle Access</div>
                        <div class="col-4">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="selectedAccess">Choose Vechicle Access</span>
                                </button>
                                <div class="dropdown-menu" id="accessTypeMenu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">2WD Okay</a>
                                    <a class="dropdown-item" href="#">4WD Only</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-8">Campsite Type</div>
                        <div class="col-4">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="selectedCampsite">
                                        Choose Campsite Type
                                    </span>
                                </button>
                                <div class="dropdown-menu" id="campsiteTypeMenu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Established Campground (pre-book only)</a>
                                    <a class="dropdown-item" href="#">Established Campground (first-come/first-served)</a>
                                    <a class="dropdown-item" href="#">Dispersed Camping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-8">Plumbing</div>
                        <div class="col-4">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="selectedPlumbing">
                                        Choose Plumbing Type
                                    </span>
                                </button>
                                <div class="dropdown-menu" id="plumbingTypeMenu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">No plumbing</a>
                                    <a class="dropdown-item" href="#">Outhouse or Portapotty</a>
                                    <a class="dropdown-item" href="#">Flushing toilets</a>
                                    <a class="dropdown-item" href="#">Toilets and showers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-8">Dogs</div>
                        <div class="col-4">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="selectedDogs">
                                        Choose Dogs Permission Type
                                    </span>
                                </button>
                                <div class="dropdown-menu" id="dogsTypeMenu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">No dogs allowed</a>
                                    <a class="dropdown-item" href="#">Dogs allowed on leash</a>
                                    <a class="dropdown-item" href="#">Dogs allowed on or off leash</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" name="submit" value="Submit" class="mx-auto btn btn-block btn-primary" />
                </div>
            </form>
            }

        </div>
        
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/popper.js")
@Scripts.Render("~/Scripts/umd/popper.js")
<script src="~/Scripts/popper.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });

    $('#tentTypeMenu a').click(function () {
        $('#selectedTent').text($(this).text());
    });

    $('#accessTypeMenu a').click(function () {
        $('#selectedAccess').text($(this).text());
    });

    $('#campsiteTypeMenu a').click(function () {
        $('#selectedCampsite').text($(this).text());
    });

    $('#plumbingTypeMenu a').click(function () {
        $('#selectedPlumbing').text($(this).text());
    });

    $('#dogsTypeMenu a').click(function () {
        $('#selectedDogs').text($(this).text());
    });


</script>